<div class="container">
<h3>
  <strong>Title:</strong>
  <%= @article.title %>
</h3>

<h3>
  <strong>Text:</strong>
  <%= @article.text %>
</h3>
<%= link_to 'Edit', edit_article_path(@article), :class => "btn btn-primary" %> |
<%= link_to 'Back', articles_path, :class => "btn btn-info" %>
</div>
